<div class="profile">
    <div class="container">
        <div class="d-flex mt-2 mb-2 justify-content-center">
            <div style="min-width: 300px; max-width: 500px;">
                <div class="d-flex justify-content-end  align-items-center">
                    <!-- <label class="form-check-label fs-7 m-1">Update</label> -->
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="CanUpdate" type="checkbox" role="switch" id="updateToggle"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Toggle to update your profile">
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-4 placeholder-glow">
                      <div class="d-flex justify-content-center">
                        <div class="container">
                            <div class="avatar-container text-center">
                                <div class="d-flex justify-content-center" >
                                    <div class="" style="position: relative;">
                                        <img id="ImgPriview" src="https://picsum.photos/200" width="85" height="85" class="rounded-circle">
                                        <i *ngIf="CanUpdate" class="position-absolute cursor-pointer" style="bottom:-10%; right:10%;">
                                            <div class="bg-white d-flex align-items-center justify-content-center rounded-circle p-1 pt-0 pb-0" style="min-width:35px; min-height:35px;" >
                                                <i class="text-primary bi bi-camera-fill fs-5" (click)="UploadNewImage('ImgPriview')"></i>
                                            </div>
                                        </i>
                                    </div>
                                </div>
                                <span class="form-label mt-1 fs-8">Registered 1 April 2021</span>
                            </div>
                            <div class="edit-profile mt-4">
                                <div class="mb-2">
                                    <label for="displayName" class="form-label mb-1 fs-7">Your Name</label>
                                    <input type="displayName" (ngModelChange)="MadeChanges()" [(ngModel)]="UpdateUserProfile.displayName" class="form-control form-control-sm {{InputStatus}}" id="edit-displayName"
                                     placeholder="name@example.com">
                                </div>
                                <div class="mb-2">
                                    <label for="edit-about" class="form-label mb-1 fs-7">Your thoughts</label>
                                    <textarea class="form-control form-control-sm {{InputStatus}}" (ngModelChange)="MadeChanges()"  [(ngModel)]="UpdateUserProfile.thougts"  id="edit-thoughts">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end  align-items-center mt-2">
                    <button *ngIf="UserMadeChanges" (click)="UpdateProfile()" type="button" class="btn btn-primary btn-sm">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>