<div class="profile">
    <div class="container">
        <div class="d-flex mt-2 mb-2 justify-content-center align-items-center">
            <div class="card" style="min-width: 300px; max-width: 500px;">
                <div class="card-body p-4">
                  <div class="d-flex justify-content-center">
                    <div class="container">
                        <div class="avatar-container">
                            <div class="d-flex justify-content-center" >
                                <div class="" style="position: relative;">
                                    <img src="https://picsum.photos/200" width="85" class="rounded-circle">
                                    <span class="position-absolute" style="bottom:0; right:25%;">X</span>
                                </div>
                            </div>
                        </div>
                        <div class="edit-profile mt-4">
                            <div class="mb-2">
                                <label for="displayName" class="form-label mb-1 fs-7">Display Name</label>
                                <input type="displayName" class="form-control form-control-sm"  id="edit-displayName" placeholder="name@example.com" disabled readonly>
                            </div>
                            <div class="mb-2">
                                <label for="displayName" class="form-label mb-1 fs-7">Display Name</label>
                                <input type="displayName" class="form-control form-control-sm"  id="edit-displayName" placeholder="name@example.com" disabled readonly>
                            </div>
                            <div class="mb-2">
                                <label for="edit-about" class="form-label mb-1 fs-7">About</label>
                                <textarea class="form-control form-control-sm"  id="edit-about" placeholder="Tell me a little about you and maybe what you think of the web application so far" disabled readonly>
                                
                                </textarea>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>